<!doctype html>
<html>

<body>
    <div style="word-spacing:normal;background-color:#F4F4F4;" class="__body">
        <div style="background-color:#F4F4F4;">
            <div style="margin:0px auto;max-width:600px;">
                <table align="center" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tbody>
                        <tr>
                            <td
                                style="direction: ltr; font-size: calc(0px / var(--type-scale-factor)); padding: 4px 0px; text-align: center;">
                                <div class="mj-column-per-100 mj-outlook-group-fix"
                                    style="font-size: calc(0px / var(--type-scale-factor)); text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                    <table cellpadding="0" cellspacing="0" style="vertical-align:top;" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left"
                                                    style="font-size: calc(0px / var(--type-scale-factor)); padding: 0px 0px 0px 25px; word-break: break-word;">
                                                    <div
                                                        style="font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: calc(13px / var(--type-scale-factor)); line-height: 1; text-align: left; color: rgb(0, 0, 0);">
                                                        <p style="margin: 10px 0;"></p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;">
                <table align="center" cellpadding="0" cellspacing="0"
                    style="background:#ffffff;background-color:#ffffff;width:100%;">
                    <tbody>
                        <tr>
                            <td
                                style="direction: ltr; font-size: calc(0px / var(--type-scale-factor)); padding: 20px 0px; text-align: center;">
                                <div class="mj-column-per-100 mj-outlook-group-fix"
                                    style="font-size: calc(0px / var(--type-scale-factor)); text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                    <table cellpadding="0" cellspacing="0" style="vertical-align:top;" width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="left"
                                                    style="font-size: calc(0px / var(--type-scale-factor)); padding: 0px 25px 20px; word-break: break-word;">
                                                    <div
                                                        style="font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: calc(13px / var(--type-scale-factor)); line-height: 1; text-align: left; color: rgb(0, 0, 0);">
                                                        <h1
                                                            style="text-align:left; margin-top: 10px; margin-bottom: 10px; font-weight: normal;">
                                                            <span
                                                                style="line-height: calc(22px / var(--type-scale-factor)); font-size: calc(22pt / var(--type-scale-factor)); font-family: Arial; color: rgb(94, 105, 119); text-align: left;"><b>Thanks
                                                                    for creating an event!</b></span>
                                                        </h1>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="font-size: calc(0px / var(--type-scale-factor)); padding: 0px 25px; word-break: break-word;">
                                                    <div
                                                        style="font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: calc(13px / var(--type-scale-factor)); line-height: 1; text-align: left; color: rgb(0, 0, 0);">
                                                        <p
                                                            style="text-align: left; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;">
                                                            <span
                                                                style="line-height: calc(22px / var(--type-scale-factor)); font-size: calc(14pt / var(--type-scale-factor)); font-family: Arial; color: rgb(94, 105, 119); text-align: left;">Our
                                                                team is delighted to welcome you at Live-Ask.com - here
                                                                is the important information about your newly generated
                                                                event: '</span><span
                                                                style="line-height: calc(22px / var(--type-scale-factor)); font-size: calc(14pt / var(--type-scale-factor)); font-family: Arial; color: rgb(94, 105, 119); text-align: left;"><b>{{event_name}}</b></span><span
                                                                style="line-height: calc(22px / var(--type-scale-factor)); font-size: calc(16px / var(--type-scale-factor)); font-family: Arial; color: rgb(94, 105, 119); text-align: left;">'</span>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="font-size: calc(0px / var(--type-scale-factor)); padding: 0px 25px; word-break: break-word;">
                                                    <div
                                                        style="font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: calc(13px / var(--type-scale-factor)); line-height: 1; text-align: left; color: rgb(0, 0, 0);">
                                                        <p class="text-build-content"
                                                            style="margin: 10px 0; margin-top: 10px;"><span
                                                                style="color: rgb(94, 105, 119); font-family: Arial; font-size: calc(16pt / var(--type-scale-factor)); line-height: calc(18pt / var(--type-scale-factor));">Your
                                                                free event is valid for 7 days (upgrading removes this
                                                                limit).</span></p>
                                                        <p class="text-build-content" style="margin: 10px 0;"><span
                                                                style="color: rgb(94, 105, 119); font-family: Arial; font-size: calc(16pt / var(--type-scale-factor)); line-height: calc(18pt / var(--type-scale-factor));">It
                                                                is free for as many users you like to participate, ask
                                                                questions and vote.</span></p>
                                                        <p class="text-build-content" style="margin: 10px 0;"><span
                                                                style="color: rgb(94, 105, 119); font-family: Arial; font-size: calc(16pt / var(--type-scale-factor)); line-height: calc(18pt / var(--type-scale-factor));">Everything
                                                                happens in real-time.</span></p>
                                                        <p class="text-build-content"
                                                            style="margin: 10px 0; margin-bottom: 10px;"><span
                                                                style="color: rgb(94, 105, 119); font-family: Arial; font-size: calc(16pt / var(--type-scale-factor)); line-height: calc(18px / var(--type-scale-factor));">This
                                                                is your sharable event link:&nbsp;</span><br><a
                                                                class="link-build-content"
                                                                style="color:inherit;text-decoration: none;"
                                                                href="{{short_link}}" target="_blank"
                                                                rel="noreferrer"><span
                                                                    style="color: rgb(0, 0, 238); font-family: Arial; font-size: calc(16pt / var(--type-scale-factor)); line-height: calc(18px / var(--type-scale-factor));">
                                                                    <u>{{short_link}}</u>
                                                                </span></a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center"
                                                    style="font-size: calc(0px / var(--type-scale-factor)); padding: 10px 25px; word-break: break-word;">
                                                    <p
                                                        style="border-top-width: 4px; border-top-style: solid; border-top-color: rgb(0, 0, 0); font-size: calc(1px / var(--type-scale-factor)); margin: 0px auto; width: 100%;">
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="background: rgb(255, 44, 94); font-size: calc(0px / var(--type-scale-factor)); padding: 0px 25px; word-break: break-word;">
                                                    <div
                                                        style="font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: calc(13px / var(--type-scale-factor)); line-height: 1; text-align: left; color: rgb(0, 0, 0);">
                                                        <p
                                                            style="text-align: left; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;">
                                                            <span
                                                                style="font-size: calc(16pt / var(--type-scale-factor)); text-align: left; color: rgb(255, 255, 255); font-family: Arial; line-height: calc(22px / var(--type-scale-factor));">Here
                                                                is your </span><span
                                                                style="font-size: calc(16pt / var(--type-scale-factor)); text-align: left; color: rgb(255, 255, 255); font-family: Arial; line-height: calc(22px / var(--type-scale-factor));"><b>secret</b></span><span
                                                                style="font-size: calc(16px / var(--type-scale-factor)); text-align: left; color: rgb(255, 255, 255); font-family: Arial; line-height: calc(22px / var(--type-scale-factor));">
                                                            </span><span
                                                                style="font-size: calc(16pt / var(--type-scale-factor)); text-align: left; color: rgb(255, 255, 255); font-family: Arial; line-height: calc(22px / var(--type-scale-factor));"><b>moderator</b></span><span
                                                                style="font-size: calc(16pt / var(--type-scale-factor)); text-align: left; color: rgb(255, 255, 255); font-family: Arial; line-height: calc(22px / var(--type-scale-factor));">
                                                                link (please be careful who you share this with):</span>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="background: rgb(255, 44, 94); font-size: calc(0px / var(--type-scale-factor)); padding: 0px 45px; word-break: break-word;">
                                                    <div
                                                        style="font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: calc(13px / var(--type-scale-factor)); line-height: 1; text-align: left; color: rgb(0, 0, 0);">
                                                        <p
                                                            style="text-align: left; margin: 10px 0; margin-top: 10px; margin-bottom: 10px;">
                                                            <a href="{{mod_link}}" style="text-decoration: none;"
                                                                target="_blank" rel="noreferrer"><span><span><span
                                                                            style="background-color: transparent; font-size: calc(16pt / var(--type-scale-factor)); text-align: left; color: rgb(0, 25, 247); font-family: Arial; line-height: calc(22px / var(--type-scale-factor));">
                                                                            <u style="word-break: break-word;">
                                                                                {{mod_link}}
                                                                            </u></span></span></span></a>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="font-size: calc(0px / var(--type-scale-factor)); padding: 20px 25px 0px; word-break: break-word;">
                                                    <div
                                                        style="font-family: Ubuntu, Helvetica, Arial, sans-serif; font-size: calc(13px / var(--type-scale-factor)); line-height: 1; text-align: left; color: rgb(0, 0, 0);">
                                                        <p style="text-align: left; margin: 10px 0; margin-top: 10px;">
                                                            <span
                                                                style="line-height: calc(22px / var(--type-scale-factor)); font-size: calc(16pt / var(--type-scale-factor)); font-family: Arial; color: rgb(94, 105, 119); text-align: left;">Kind
                                                                regards,</span>
                                                        </p>
                                                        <p
                                                            style="text-align: left; margin: 10px 0; margin-bottom: 10px;">
                                                            <span
                                                                style="line-height: calc(22px / var(--type-scale-factor)); font-size: calc(16pt / var(--type-scale-factor)); font-family: Arial; color: rgb(94, 105, 119); text-align: left;">Your
                                                                Live-Ask.com&nbsp;team.</span>
                                                        </p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left"
                                                    style="font-size: calc(0px / var(--type-scale-factor)); padding: 20px 25px 10px; word-break: break-word;">
                                                    <table cellpadding="0" cellspacing="0"
                                                        style="border-collapse:collapse;border-spacing:0px;">
                                                        <tbody>
                                                            <tr>
                                                                <td style="width:261px;">
                                                                    <img src="https://beta.live-ask.com/mail-logo.png"
                                                                        width="261" height="auto"
                                                                        style="border: medium; display: block; outline: currentcolor; text-decoration: none; height: auto; width: 100%;"
                                                                        loading="lazy" decoding="async">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
    </div>
</body>

</html>
